.afCloudinary-thumbnail img {
	text-align: center;
  width: 200px;
	max-width: 100%;
}

.afCloudinary .wd100 {
  width: 100%;
}

.afCloudinary input {
  margin: 10px;
}

.afCloudinary .jumbotron {
	text-align: center;
  background: #ddd;
	font-size: 48px;
	padding-right: 10px !important;
	padding-left: 10px !important;
/* 	background-color: inherit; */
} 

.afCloudinary-thumbnail{
	text-align: center;
}

.afCloudinary-multi{
	position: relative;
	float: left;
	padding: 5px;	

}
